<!-- ------------------------ -->
<!-- comp308_assign1_joshuakorovesi -->
<!-- Joshua Korovesi -->
<!-- COMP 308 Website -->
<!-- ------------------------ -->

<% include ./partials/header.ejs %>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <img src="/public/Assets/images/me.jpeg" alt="me">
          <ul>
            <li> Name: Joshua Korovesi</li>
            <li> Program: Software Engineering Technology - Interactive Gaming</li>
            <li> Semester: 6</li>
            <br>
            <i>"The oldest and strongest emotion of mankind is fear, and the oldest and strongest kind of fear is fear of the unknown."</i></li>
          </ul>
        </div>
      </div>
    </div>

<% include ./partials/footer.ejs %>