<!-- ------------------------ -->
<!-- comp308_assign1_joshuakorovesi -->
<!-- Joshua Korovesi -->
<!-- COMP 308 Website -->
<!-- ------------------------ -->

<% include ./partials/header.ejs %>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <p>Contact Me</p>
        </div>
      </div>
    </div>

<% include ./partials/footer.ejs %>
